.restaurant-card {
    background-color: #fbf8f8;
    border: 1px #0a7b6e solid;
    border-radius: 10%;
    display: inline-block;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-top: 0;
}