<div class="list-container">
  <div class="mid-width">
    <h2>
      Commands <span class="badge badge-secondary">{{commands.length}}</span>
    </h2>
    <!-- <div class="card" style="width: 18rem;"> -->
      <ul>
        <li *ngFor="let command of commands">
          <span (click)="getByDate(command.date)">
            {{command.date}}
          </span> 
          {{command.count}} 
          <span (click)="getRestaurant(command.restaurantId)">
            [{{command.restaurantId}}]
          </span>
        </li>
      </ul>
    <!-- </div> -->
  </div>

  <div class="mid-width">
    <h2>Restaurants <span class="badge badge-secondary">{{restaurants.length}}</span></h2>
    <ul>
      <li *ngFor="let restaurant of restaurants">
        <span (click)="getRestaurant(restaurant.id)">
          [{{restaurant.id}}] {{restaurant.name}}
        </span> 
      </li>
    </ul>
  </div>

  <app-restaurant-viewer *ngIf="restaurant" 
    [restaurant]="restaurant"
    [restaurantCommandCount]="getCommandsCount(restaurant.id)">
  </app-restaurant-viewer>

</div>

<div style="width: 100%;">

  <br/>

  <app-restaurant-form 
    (restaurantPosted)="postRestaurant($event)">
  </app-restaurant-form>

  <app-command-form *ngIf="restaurants" [restaurants]="restaurants" 
    (commandPosted)="postCommand($event)">

  </app-command-form>

  <br/>

  <div *ngIf="datedCommands">
    <h2>{{datedCommands.date}}</h2>
    <li *ngFor="let command of datedCommands.commands">
      {{command.restaurantId}} {{command.count}} 
    </li>
  </div>

  <div *ngIf="datedLocatedCommands">
    <h2>{{datedLocatedCommands.date}} {{datedLocatedCommands.restaurantId}}</h2>
    <li *ngFor="let command of datedLocatedCommands.commands">
      {{command.restaurantId}} {{command.count}} 
    </li>
  </div>

</div>

<router-outlet></router-outlet>
