<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Baker Project</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/restaurants'"> Restaurants </a>
      <a mat-list-item [routerLink]="'/commands'"> Commandes </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh; margin: 2em;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <div class="list-container">

  <app-restaurant-viewer *ngIf="restaurant" 
    [restaurant]="restaurant"
    [restaurantCommandCount]="getCommandsCount(restaurant.id)">
  </app-restaurant-viewer>

</div>

<div style="width: 100%;">

  <br/>

  <app-restaurant-form 
    (restaurantPosted)="postRestaurant($event)">
  </app-restaurant-form>

  <app-command-form *ngIf="restaurants" [restaurants]="restaurants" 
    (commandPosted)="postCommand($event)">

  </app-command-form>

  <br/>

  <div *ngIf="datedCommands">
    <h2>{{datedCommands.date}}</h2>
    <li *ngFor="let command of datedCommands.commands">
      {{command.restaurantId}} {{command.count}} 
    </li>
  </div>

  <div *ngIf="datedLocatedCommands">
    <h2>{{datedLocatedCommands.date}} {{datedLocatedCommands.restaurantId}}</h2>
    <li *ngFor="let command of datedLocatedCommands.commands">
      {{command.restaurantId}} {{command.count}} 
    </li>
  </div>

</div>

<router-outlet></router-outlet> -->
