<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ul>
    <li *ngFor="let command of commands">
      <span (click)="getByDate(command.date)">
        {{command.date}}
      </span> 
      {{command.count}} 
      <span (click)="getRestaurant(command.restaurantId)">
        [{{command.restaurantId}}]
      </span>
    </li>
  </ul>

  <app-restaurant-viewer *ngIf="restaurant" 
    [restaurant]="restaurant"
    [restaurantCommandCount]="getCommandsCount(restaurant.id)">
  </app-restaurant-viewer>

  <br/>

  <div *ngIf="datedCommands">
    <h2>{{datedCommands.date}}</h2>
    <li *ngFor="let command of datedCommands.commands">
      {{command.restaurantId}} {{command.count}} 
    </li>
  </div>

  <div *ngIf="datedLocatedCommands">
    <h2>{{datedLocatedCommands.date}} {{datedLocatedCommands.restaurantId}}</h2>
    <li *ngFor="let command of datedLocatedCommands.commands">
      {{command.restaurantId}} {{command.count}} 
    </li>
  </div>

</div>

<router-outlet></router-outlet>
