.add-restaurant {
    margin-bottom: 2em;
}

.restaurant-count {
    margin-left: 1em;
}

.restaurant-card {
    height: 100%;
    // max-width: 25%;
    // margin-left: 0.5em;
    // margin-right: 0.5em;
    // margin-bottom: 1em;
}

.faIcon {
    margin-right: 5px;
}
  
.resto {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/17/8f/74/f8/son.jpg');
    background-size: cover;
}

.baker-image {
    background-image: url('https://w0.pngwave.com/png/589/79/baguette-french-cuisine-ciabatta-european-cuisine-breakfast-wheat-bread-png-clip-art.png');
    background-size: cover;
}
